body {
  background-image: url("./assets/images/homebg.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  display:contents;
  min-height: 80vh;
  justify-content: center;
  align-items: flex-end;
  margin: 0;
}


nav {
  background:transparent;
  padding: 10px;
  text-align: center;
}
nav a {
  display: inline-block;
  margin: 0 10px;
  padding: 5px;
  text-decoration: none;
  color:white;
}
nav a:hover {
  background-color: bisque;
}
form.information {
  align-self: center;
  margin: auto;
  width: 25%;
}

p.note {
  text-align: center;
  font-size: small; 
  font-family: Arial, Helvetica, sans-serif;
}

input.name {
  margin-top: 400px; /* Adjust as needed */
}

.qrcode-placeholder {
  height: 512px;
  width: 512px;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-color: rgba(0, 0, 0, 0.51);
  border-radius: 10px;
}

#qrcode {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}